		
		<footer class="site-footer">
			
			<section class="page-section">
				
				{% comment %}<p>Social media</p>{% endcomment %}
				
			</section>
			
			<section class="page-section light-text footer-logo">
				
				<img src="/images/logo-large.png" height="94" width="94" alt="Ollie & Clare">
				
				<p class="logo-text">Ollie <span>&amp;</span> Clare</h1>
				<p class="logo-byline">Est. 2013</p>
				
			</section>
			
			<section class="page-section">
				
				<nav class="footer-nav">
					<ul class="nav-list"><!--
						--><li>
							<a href="/design">Design</a>
						</li><!--
						--><li>
							<a href="/architecture">Architecture</a>
						</li><!--
						--><li>
							<a href="/hand-made">Hand-made</a>
						</li><!--
						--><li>
							<a href="/websites">Websites</a>
						</li><!--
					--></ul>
				</nav>
				
			</section>
			
			<section class="page-section">
				<p>&copy; Ollie &amp; Clare 2016
			</section>
			
		</footer>
		