			<div class="site-header">
				
				<a href="/">
					<img src="/images/logo.png" height="40" width="40" alt="Ollie & Clare" class="site-logo">
				</a>
				
				<nav class="site-nav">
					<ul class="nav-list"><!--
						--><li>
							<a href="/design">Design</a>
						</li><!--
						--><li>
							<a href="/architecture">Architecture</a>
						</li><!--
						--><li>
							<a href="/hand-made">Hand-made</a>
						</li><!--
						--><li>
							<a href="/websites">Websites</a>
						</li><!--
					--></ul>
				</nav>
				
			</div>
