<!doctype html>
<html class="no-js" lang="">
		
		{% include head.html %}
		
	<body>
		
		{% include header.html %}
		
		<section class="page-section dark-text">
			
			<h2>About Us</h2>
			
			<p class="lead">Hello! We are Ollie and Clare. Welcome to our website.</p>
			
			<p class="lead">We currently live in York in the UK having met six years ago in Oxford. We like going on walks, reading books and making things. This website is mostly about the things we make. Ollie likes making websites and Clare likes designing buildings, cards, wedding invitations and making all kinds of crafty things.</p>
			
			<div class="blocks blocks-2 blocks-nobreak">
				<div class="block">
					<img src="/images/profile-ollie.jpg" alt="Ollie" class="circle circle-large">
				</div>
				<div class="block">
					<img src="/images/profile-clare.jpg" alt="Clare" class="circle circle-large">
				</div>
			</div>
			
			{% comment %}<div class="button">
				<a href="see-more">See more</a>
			</div>{% endcomment %}
			
		</section>
		
		
		<section class="page-section light-text with-image" data-src="/images/backgrounds/ruler.jpg">
			
			<h2>What we do</h2>
			
			<p class="lead">We wanted to create a website that could combine all the different things we love making and designing. Ollie has been working as a web developer for the last seven years, while Clare has recently qualified as an architect. On top of this we enjoy graphic design and making things mainly out of wood, paper and wool (although rarely all three together).</p>
			<p class="lead">We hope that this site gives you an overview of what we do, our skills, and most importantly a sense of who we are. Please do get in touch if you have any comments you would like to share with us or to discuss possible projects with us.</p>
			
			<div class="blocks blocks-4 circles">
				
				<div class="block match-height">
					
					<div class="circle yellow">
						<a href="/design">
							<img src="/images/icons/design.png" height="100" width="100" alt="Design">
						</a>
					</div>
					
					<h3>Design</h3>
					<p>Ollie and Clare love designing things, and like when things are designed well. We believe that good design makes everything better, and love creating things that look beautiful.</p>
					
					<div class="button">
						<a href="/design">More</a>
					</div>
					
				</div>
				
				<div class="block match-height">
					
					<div class="circle paleblue">
						<a href="/architecture">
							<img src="/images/icons/architecture.png" height="100" width="100" alt="Architecture">
						</a>
					</div>
					
					<h3>Architecture</h3>
					<p>Clare qualified as an architect in September 2015 after nine years of training. She specialises in working with churches and would love to design a swimming pool one day.</p>
					
					<div class="button">
						<a href="/architecture">More</a>
					</div>
					
				</div>
				
				<div class="block match-height">
					
					<div class="circle darkblue">
						<a href="/hand-made">
							<img src="/images/icons/handmade.png" height="100" width="100" alt="Hand-made">
						</a>
					</div>
					
					<h3>Hand-made</h3>
					<p>Ollie and Clare love making things and being crafty. We don’t mind whether it’s a cool wooden clipboard or a hand-made card, so long as it gets us away from a computer screen!</p>
					
					<div class="button">
						<a href="/hand-made">More</a>
					</div>
					
				</div>
				
				<div class="block match-height">
					
					<div class="circle orange">
						<a href="/websites">
							<img src="/images/icons/websites.png" height="100" width="100" alt="Websites">
						</a>
					</div>
					
					<h3>Websites</h3>
					<p>Ollie has been making websites since 2009. He currently works for a charity managing their digital systems and media. He loves the creativity of making a website real.</p>
					
					<div class="button">
						<a href="/websites">More</a>
					</div>
					
				</div>
				
			</div>
			
		</section>
		
		
		<section class="page-section blank">
			
			
		</section>
		
		
		{% include contact.html image="trees" %}
		
		{% include footer.html %}
		
		{% include scripts.html %}
		
	</body>
</html>
