<!doctype html>
<html class="no-js" lang="">
		
		{% include head.html %}
		
	<body>
		
		{% assign small-header = 'true' %}
		{% include header.html %}
		
		<section class="page-section dark-text">
			
			<article class="project">
				
				<h2>{{ page.title }}</h2>
				
				<div class="project-info">
					
					<h3>Project Info:</h3>
					<p>{{ page.project-info }}</p>
					
					<h3>Date:</h3>
					<p>{{ page.project-date }}</p>
					
					<h3>Category:</h3>
					<p>{% for category in page.project-categories %}
						{{ category }}{% unless forloop.last %},{% endunless %}
					{% endfor %}</p>
					
					
				</div>
				
				<div class="project-details">
					
					{{ content }}
					
				</div>
				
				
				<div class="blocks wide blocks-2 project-images">
				
				{% for image in page.images %}
					
					<figure class="block">
						<a href="/images/portfolio/{{ page.image-dir }}/images/{{ image.filename }}.jpg" data-size="{{ image.size }}">
							<img src="/images/portfolio/{{ page.image-dir }}/thumbs/{{ image.filename }}.jpg" alt="{{ page.title }}" />
						</a>
						<figcaption>{{ image.caption }}</figcaption>
					</figure>
					
				{% endfor %}
					
				</div>
				
			</article>
			
		</section>
		
		
		{% include footer.html %}
		
		{% include scripts.html %}
		
		{% include photoswipe-scripts.html %}
		
		

	</body>
</html>